/* FOOTER */
.footer {
    background-color: #1E40AF;
    color: #fff;
    margin-top: 100px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 60px 80px;
}

/* FOOTER BOX */
.footer-box h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #FACC15;
}

.footer-box h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #FACC15;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

/* MENU */
.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-box ul li a:hover {
    color: #FACC15;
}

/* ICON KONTAK */
.footer-box i {
    margin-right: 8px;
    color: #FACC15;
}

/* SOSIAL MEDIA */
.social-icons a {
    display: inline-block;
    margin-right: 12px;
    font-size: 20px;
    color: #fff;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    color: #FACC15;
    transform: scale(1.2);
}

/* FOOTER BOTTOM */
.footer-bottom {
    background-color: #152e7e;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
    }
}

@media (max-width: 500px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }
}
