/* WRAPPER TABLE */
.table-wrapper {
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    overflow-x: auto;
}

/* TABLE */
.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 1100px;
}

/* HEADER */
.data-table thead {
    background: #1E40AF;
    color: white;
}

.data-table th {
    padding: 14px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

/* BODY */
.data-table td {
    padding: 12px 14px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
    vertical-align: middle;
}

.data-table tbody tr:hover {
    background: #f8fafc;
}

/* FOTO KTP */
.foto {
    width: 70px;
    height: 45px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
}

/* EMPTY DATA */
.empty {
    padding: 20px;
    text-align: center;
    color: #6b7280;
    font-style: italic;
}

/* BUTTON AKSI */
.logout-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background: #ef4444;
    transition: 0.2s;
}

.logout-btn:hover {
    background: #dc2626;
}

/* BUTTON EDIT */
.logout-btn.edit {
    background: #2563eb;
}

.logout-btn.edit:hover {
    background: #1e40af;
}
